archive_project_summary.txt
FDP_2026.runs/
FDP_2026.cache/
FDP_2026.hw/
FDP_2026.ip_user_files/
FDP_2026.ipdefs/
FDP_2026.sim/
vivado*.jou
vivado*.log
vivado*.backup.jou
vivado*.backup.log
FDP_2026.srcs/sources_1/ip/*/hdl/
FDP_2026.srcs/sources_1/ip/*/sim/
FDP_2026.srcs/sources_1/ip/*/synth/
FDP_2026.srcs/sources_1/ip/*/cmodel/
FDP_2026.srcs/sources_1/ip/*/doc/
FDP_2026.srcs/sources_1/ip/*/demo_tb/
FDP_2026.srcs/sources_1/ip/*/*.dcp
FDP_2026.srcs/sources_1/ip/*/*.veo
FDP_2026.srcs/sources_1/ip/*/*.vho
FDP_2026.srcs/sources_1/ip/*/*.xml
FDP_2026.srcs/sources_1/ip/*/*_sim_netlist.v
FDP_2026.srcs/sources_1/ip/*/*_sim_netlist.vhdl
FDP_2026.srcs/sources_1/ip/*/*_stub.v
FDP_2026.srcs/sources_1/ip/*/*_stub.vhdl
